<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-header">Nouveau projet</h1>
		</div>
		<!-- /.col-md-12 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-md-11">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-2">

							<div class="form-group">
								<label>Id projet</label> <input class="form-control" required
									ng-model="phase.projet.idProjet" ng-change="createIdPhase()"
									placeholder="id" type="text" />

							</div>

						</div>
						<div class="col-md-4">


							<label>Nom Projet</label> <input class="form-control"
								ng-model="phase.projet.nomProjet" placeholder="Nom" type="text" />



						</div>
						<div class="col-md-3">

							<div class="form-group">
								<label>Date debut</label> <input class="form-control"
									ng-change="change()" format-date 
									ng-style="isTrue && {'border-color':'red'} || {'background-color': 'none'}"
									ng-model="phase.projet.dateDebut" placeholder="date debut"
									type="date" /> <span ng-show="isTrue" style="color: red">Date
									debut Invalid</span>
							</div>

						</div>
						<div class="col-md-3">

							<div class="form-group">
								<label>Date fin</label> <input class="form-control"
									ng-change="change()" format-date 
									ng-style="isTrue && {'border-color':'red'} || {'background-color': 'none'}"
									ng-model="phase.projet.dateFin" placeholder="date fin"
									type="date" /> <span ng-show="isTrue" style="color: red">Date
									fin Invalid</span>
							</div>

						</div>

						<!-- /.col-md-6 (nested) -->
					</div>
					<!-- 				<div class="row"> -->
					<!-- 					<div class="col-md-6"> -->
					<!-- 						<label>Entreprise</label> <select -->
					<!-- 							ng-model="phase.projet.entreprise.id" style="width: 100%" > -->
					<!-- 							<option ng-repeat="x in entreprises" ng-value="x.id">{{x.nom}} -->
					<!-- 							</option> -->
					<!-- 						</select> -->




					<!-- 					</div> -->
					<!-- 				</div> -->

					<!-- /.row (nested) -->
				</div>
			</div>
			<!-- /.panel-body -->
			<div class="panel panel-default">
				<div class="panel-heading">Information projet</div>
				<div class="panel-body">
					<div class="row">

						<div class="col-md-6">


							<label>Nom du Projet</label> <input class="form-control"
								ng-model="phase.projet.nomProj" placeholder="Nom" type="text" />



						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Date projet</label> <input class="form-control" onkeydown="return false"
									ng-model="phase.projet.dateProjetMoe" placeholder="date debut"
									type="date" />

							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label>Maitre d'ouvrage</label> <input class="form-control"
									ng-model="phase.projet.maitreDouvrage" placeholder="Nom"
									type="text" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Maitre d'oeuvre</label> <input class="form-control"
									ng-model="phase.projet.maitreDoeuvre" placeholder="Nom"
									type="text" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Architecte</label> <input class="form-control"
									ng-model="phase.projet.architect" placeholder="Nom" type="text" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Geotechnicien</label> <input class="form-control"
									ng-model="phase.projet.geotechnicien" placeholder="Nom"
									type="text" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>CT</label> <input class="form-control"
									ng-model="phase.projet.ct" placeholder="Nom" type="text" />

							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Entreprise</label> <input class="form-control"
									ng-model="phase.projet.nomEntreprise" placeholder="Entreprise"
									type="text" />

							</div>
						</div>
					</div>
				</div>


			</div>

			<div class="panel panel-default">
				<div class="panel-heading">Descriptif structure</div>
				<div class="panel-body">
					<div class="row">

						<div class="col-md-6">

							<div class="form-group">
								<label>Infrastructure</label> <input class="form-control"
									ng-model="phase.projet.modeInfra" placeholder="Infrastructure"
									type="text" />

							</div>

						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label>Superstructure</label> <input class="form-control"
									ng-model="phase.projet.modeSuperstructure"
									placeholder="Superstructure" type="text" />
							</div>





						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>informations additionnel</label>
								<textarea class="form-control" rows="5" id="comment"
									ng-model="phase.projet.infoHypoSupp"
									placeholder="Informations additionnel"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">Phase du projet</div>
				<div class="panel-body">
					<div class="row">

						<div class="col-md-6">

							<div class="form-group">
								<label>Phase</label> <select style="width: 100%"  class="form-control" required
									ng-change="createIdPhase()" ng-model="phase.phase">
									<option>PRE</option>
									<option>DCE</option>
									<option>EXE</option>
									<option>DIAG</option>
								</select>
								<span ng-show="phaseTest" style="color: red">phase obligatoire</span>
								
							</div>

						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Honoraires</label> <input class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
									ng-model="phase.honoraires" placeholder="Superstructure"
									type="number" />
									 <span ng-show="phase.honoraires.$error.pattern" style="color: red">format incorect</span>
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<label>Chef projet :</label> <select ng-model="chefP" class="form-control"
									style="width: 100%" required >
									<option ng-repeat="x in usersChef" ng-value="x.id"
										ng-selected="phase.chefProjet.id == x.id">{{x.name}}
									</option>
								</select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Quantification Jours Ing : </label> <input onkeypress='return event.charCode >= 48 && event.charCode <= 57'
									class="form-control" ng-model="phase.delaiHjIng" required
									name="ing" placeholder="JH Ing" type="text" />
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Quantification Jours Tech : </label> <input onkeypress='return event.charCode >= 48 && event.charCode <= 57'
									class="form-control" ng-model="phase.delaiHjTech" required
									name="tech" placeholder="JH Tech" type="text" />
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label>Date debut</label> <input class="form-control"   min="{{phase.projet.dateDebut | date:'yyyy-MM-dd'}}"
						           max="{{phase.projet.dateFin | date:'yyyy-MM-dd'}}"
									ng-change="change2()"
									ng-style="isTrue2 && {'border-color':'red'} || {'background-color': 'none'}"
									ng-model="phase.dateDebut" placeholder="date debut" type="date" />
								<span ng-show="isTrue2" style="color: red">Date debut
									Invalid</span>
							</div>

						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label>Solde phase</label> <input class="form-control"  min="{{phase.projet.dateDebut | date:'yyyy-MM-dd'}}"
						            max="{{phase.projet.dateFin | date:'yyyy-MM-dd'}}"
									ng-change="change2()"
									ng-style="isTrue2 && {'border-color':'red'} || {'background-color': 'none'}"
									ng-model="phase.dateSoldePhase" placeholder="date debut"
									type="date" /> <span ng-show="isTrue2" style="color: red">Date
									Solde phase Invalid</span>
							</div>
						</div>


						<div class="col-md-6">
							<label>Lot a traiter </label> <br />
							<div class="row">
								<div class="col-md-4">
									<label class="checkbox-inline"> <input
										ng-model="phase.grosOeuvre" type="checkbox">Gros
										oeuvre
									</label>
								</div>
								<div class="col-md-4">
									<label class="checkbox-inline"> <input
										ng-model="phase.archi" type="checkbox">Architecture
									</label>
								</div>
								<div class="col-md-4">
									<label class="checkbox-inline"> <input
										ng-model="phase.bois" type="checkbox">Charpente bois
									</label>
								</div>
							</div>
							<div class="row">

								<div class="col-md-4">
									<label style="margin-left: 0px;" class="checkbox-inline">
										<input ng-model="phase.voirie" type="checkbox">Voirie
										et R&eacute;seau divers
									</label>
								</div>
								<div class="col-md-4">
									<label class="checkbox-inline"> <input
										ng-model="phase.metal" type="checkbox">Charpente
										m&eacute;tallique
									</label>
								</div>
							</div>
							<span ng-show="lotTest" style="color: red">Lot obligatoire</span>
						</div>
						<div class="col-md-12">
							<label>Documents</label>
							<div class="table-responsive">
								<table class="table table-striped table-bordered table-hover">
									<tr>
										<th>Titre document</th>
										<th>Etat</th>
										<th>Action</th>

									</tr>
									<tbody ng-repeat="doc in phase.docs">
										<tr>
											<td>{{doc.typeDoc}}</td>
											<td style="width: 30%"><select  class="form-control"
												 ng-model="doc.etatDoc">
													<option>Recu</option>
													<option>Non Recu</option>
												<option>A recevoir</option>
											</select></td>
											<td><input type="button" class="btn btn-danger"
												ng-click="Remove($index)" value="Remove" /></td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td><input type="text" class="form-control"
												ng-model="typeDoc" /></td>
											<td><select  class=" form-control"
												ng-model="etatDoc">
													<option>Recu</option>
													<option>Non Recu</option>
												    <option>A recevoir</option>
											</select></td>
											<td><input class="btn" type="button" ng-click="Add()"
												value="Add" /></td>
										</tr>
									</tfoot>
								</table>
							</div>





						</div>
					</div>
				</div>

				<button type="button" class="btn btn-success"
					ng-click="saveProjet(documents)">Ajouter</button>
			</div>


			<!-- /.panel -->
		</div>

		<input type="hidden">
		<!-- /.panel -->
	</div>
	<!-- /.col-md-12 -->
</div>