
<form>


	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Liste projets</h1>
			</div>
		</div>

		<!-- /.row -->
		<br>
		<div class="row">
			<div class="col-md-1">
				<label>Projet :</label>
			</div>
			<div class="col-md-2">
				<select ng-model="projet" class=" form-control">
					<option ng-value=""></option>
					<option ng-repeat="x in projets" ng-value="x.idProjet">{{x}}
					</option>
				</select>
			</div>
			<div class="col-md-1">
				<label>Etat :</label>
			</div>
			<div class="col-md-2">
				<select ng-model="statut" class=" form-control">
					<option ng-value=""></option>
					<option ng-repeat="x in statutRecherche" ng-value="x.statut">{{x.statut}}
					</option>
				</select>

			</div>
			<div class="col-md-1" style="width: 10%;">
				<label>Chef projet :</label>
			</div>
			<div class="col-md-2">
				<select ng-model="name" class=" form-control">
					<option ng-value=""></option>
					<option ng-repeat="x in usersChef" ng-value="x.name">{{x.name}}
					</option>
				</select> </br>
			</div>

			<div class="col-md-2" ng-show="userConect.role.role !='COLLAB'">
				<button type="nouveau" class="btn btn-primary btn-block"
					ui-sref="formProjet">

					<i class="fa fa-pencil-square" aria-hidden="true"></i> Ajouter
					projet
				</button>
			</div>
		</div>

		<br>

		<div class="row">
			<div class="col-lg-12">



				<table class="table  table-bordered" style="width: 100%">
					<thead>
						<tr>

							<th scope="col">Id</th>
							<th scope="col">Nom Projet</th>
							<th scope="col">Chef Projet</th>
							<th scope="col">Etat</th>
							<th scope="col">Date debut</th>
							<th scope="col">Date solde</th>
						</tr>
					</thead>
					<tbody>
						<tr
							ng-style="{'background-color':item.projet.ticketNonTraite ?  '#FA5858': 'none'}"
							ng-repeat="item in phases  | filter:projet | filter:statut | filter:name">
							<td ng-show="false">{{item.projet.idProjet}}</td>
							<td><a
								ui-sref="detailProjet({id:item.projet.idbd+'/'+item.idphas})">{{item.idPhase}}</a>
							</td>
							<td>{{item.projet.nomProjet}}</td>
							<td>{{item.chefProjet.name}}</td>
							<td>{{item.statut.statut}}</td>
							<td>{{item.dateDebut| date:'yyyy-MM-dd'}}</td>
							<td>{{item.dateSoldePhase | date:'yyyy-MM-dd'}}</td>



						</tr>
					</tbody>

				</table>
				<div class="pagination" ng-show="false" data-pagination="" data-num-pages="numOfPages()"
					data-current-page="curPage" data-max-size="maxSize"
					data-boundary-links="true"></div>
			</div>

		</div>

	</div>
</form>