<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">List projets</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	
	
	<div class="col-lg-12">
	<div class="col-lg-3">
	<label>Recherche par statut</label> <select  ng-model="statut" 
		 style="width: 100%" ui-select2>
		<option ng-value=""></option>
		<option ng-repeat="x in statutRecherche" ng-value="x.statut">{{x.statut}}
		</option>
	</select>

	</div> 
	<div class="col-lg-3">
	<label>Recherche par chef projet</label> <select  ng-model="name"
		 style="width: 100%" ui-select2>
		<option ng-value=""></option>
		<option ng-repeat="x in usersRecherche" ng-value="x.name">{{x.name}}
		</option>
	</select>
	<br>
	</div> 
	</div>
	
	
	<!-- /.row -->
	<div class="col-lg-2" ng-show="userConect.role.role !='COLLAB'">
		<button type="nouveau" class="btn btn-primary btn-block"
			ui-sref="formProjet">

			<i class="fa fa-pencil-square" aria-hidden="true"></i> nouveau projet
		</button>
	</div>
	<br /> <br />

	<table class="table table-bordered" width="100%" id="dataTable"
		cellspacing="0">
		<thead>
			<tr>
				<th>id</th>
				<th>Statut</th>
				<th>Chef projet</th>
				<th>Projet</th>
				<th>Date debut</th>
				<th>Date fin</th>
				<th>Options</th>


			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="item in projets | filter:name |filter:statut" >
				<td>{{item.idProjet}}</td>
				<td>{{item.statut.statut}}</td>
				<td>{{item.chefProjet.name}}</td>
				<td>{{item.nomProjet}}</td>
				<td>{{item.dateDebut | date:'yyyy-MM-dd'}}</td>
				<td>{{item.dateFin | date:'yyyy-MM-dd'}}</td>

				<td>
				
				
				<div class="row">
						<div class="col-sm-6">
							<button type="submit" class="btn btn-info btn-block"
								title="Consulter" 
								ui-sref="detailProjet({id:item.idbd})">
								<i class="fa fa-search" aria-hidden="true"></i>
							</button>
						</div>
						<div class="col-sm-6">
							<button type="submit" class="btn btn-primary btn-block"
								title="Ajout Ticket" 
								ui-sref="formTicketProjet({id:item.idbd+'/Projet'})" >
								<i class="fa fa-plus" aria-hidden="true"></i>
							</button>
						</div>
					</div>
					
					</td>
			</tr>
		</tbody>
	</table>


</div>