<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Liste projets</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>

<!-- /.row -->
	<div class="row">
		<div class="col-lg-2" ng-show="userConect.role.role !='COLLAB'">
			<button type="nouveau" class="btn btn-primary btn-block"
				ui-sref="formProjet">

				<i class="fa fa-pencil-square" aria-hidden="true"></i> Ajouter
				projet
			</button>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-1">
			<label>Statut :</label>
		</div>
		<div class="col-md-2">
			<select ng-model="statut" style="width: 100%" ui-select2>
				<option ng-value=""></option>
				<option ng-repeat="x in statutRecherche" ng-value="x.statut">{{x.statut}}
				</option>
			</select>

		</div>
		<div class="col-md-1">
			<label>Projet :</label>
		</div>
		<div class="col-md-2">
			<select ng-model="name" style="width: 100%" ui-select2>
				<option ng-value=""></option>
				<option ng-repeat="x in usersRecherche" ng-value="x.name">{{x.name}}
				</option>
			</select>
		</div>
	</div>

	<br>
	
	<div class="row">
		<div class="col-lg-10">
			<table class="table table-bordered table-sm" width="80%"
				id="dataTable" style="text-align: center;" cellspacing="0">
				<thead>
					<tr>
						<th style="text-align: center;">id</th>
						<th style="text-align: center;">Statut</th>
						<th style="text-align: center;">Chef projet</th>
						<th style="text-align: center;">Projet</th>
						<th style="text-align: center;">Date debut</th>
						<th style="text-align: center;">Date fin</th>
						<th style="text-align: center;width: 10%">Options</th>


					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="item in projets | filter:name | filter:statut">
						<td>{{item.idProjet}}</td>
						<td>{{item.statut.statut}}</td>
						<td>{{item.chefProjet.name}}</td>
						<td>{{item.nomProjet}}</td>
						<td>{{item.dateDebut | date:'yyyy-MM-dd'}}</td>
						<td>{{item.dateFin | date:'yyyy-MM-dd'}}</td>

						<td>

							
									<button type="submit" class="btn btn-info btn-sm"
										title="Consulter" title="Consulter"
										ui-sref="detailProjet({id:item.idbd})">
										<i class="fa fa-search" aria-hidden="true"></i>
									</button>
								
									<button type="submit" class="btn btn-primary btn-sm"
										title="Ajout Ticket"
										ui-sref="formTicketProjet({id:item.idbd+'/Projet'})">
										<i class="fa fa-plus" aria-hidden="true"></i>
									</button>
							
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>