

<div class="container-fluid">

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Liste des Tickets</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="col-lg-2" ng-show="userConect.role.role!='CLIENT'">
		<button type="nouveau" class="btn btn-primary btn-block"
			ui-sref="formticket">

			<i class="fa fa-pencil-square" aria-hidden="true"></i> Ajouter Ticket
		</button>
	</div>
	<br /> <br />

	<table class="table  table-bordered"  style="text-align: center !important;"
		cellspacing="0">
		<thead>
			<tr>
				<th style="text-align: center !important;">Id Ticket</th>
				<th style="text-align: center !important;">Type Ticket</th>
				<th style="text-align: center !important;">Emetteur</th>
				<th style="text-align: center !important;">Destinataire</th>
				<th style="text-align: center !important;">Date Echeance</th>
				<th style="text-align: center !important;">Statut</th>
				

			</tr>
		</thead>

		<tbody ng-show="userConect.role.role=='CHEFP'||userConect.role.role=='COLLAB'||userConect.role.role=='CLIENT'">
			<tr ng-repeat="item in tickets | filter: userConect.name">
				<td><a ui-sref="modifTicket({id:item.iddbTicket})">{{item.idTicket}}</a></td>
				<td>{{item.typeTicket}}</td>
				<td>{{item.emetteur.name}}</td>
				<td><output ng-repeat=" item2 in item.destinataire">{{item2.name}} </output></td>
				<td>{{item.dateEchance | date:'yyyy-MM-dd'}}</td>
				<td>{{item.statut.statut}}</td>
	
			</tr>
		</tbody>
		
		<tbody ng-show="userConect.role.role=='ADMIN'">
			<tr ng-repeat="item in tickets">
				<td><a ui-sref="modifTicket({id:item.iddbTicket})">{{item.idTicket}}</a></td>
				<td>{{item.typeTicket}}</td>
				<td>{{item.emetteur.name}} {{item.emetteur.lastName}}</td>
				<td><output ng-repeat=" item2 in item.destinataire">{{item2.name}} </output></td>
				<td>{{item.dateEchance | date:'yyyy-MM-dd'}}</td>
				<td>{{item.statut.statut}}</td>

			</tr>
		</tbody>
	</table>


</div>
