<div class="container-fluid" ng-init="initFunc()">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Liste des taches</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="col-lg-2"  ng-show="userConect.role.role!='CLIENT'">
		<button type="nouveau" class="btn btn-primary btn-block"
			ui-sref="formTache">

			<i class="fa fa-pencil-square" aria-hidden="true"></i> Ajouter Tache
		</button>
	</div>
	<br /> <br />
<input hidden="true"  ng-model="userConect.name">
	<table class="table table-bordered table-sm" width="80%"
				id="dataTable" style="text-align: center !important;" cellspacing="0">
		<thead>
			<tr>
				<th style="text-align: center !important;">Id tache</th>
				<th style="text-align: center !important;">Id evenement</th>
				<th style="text-align: center !important;">Description</th>
				<th style="text-align: center !important;">Progression</th>
				<th style="text-align: center !important;">Operateur</th>
				<th style="text-align: center !important;width: 10%">Options</th>


			</tr>
		</thead>

		<tbody ng-show="userConect.role.role=='CHEFP'||userConect.role.role=='COLLAB'">
			<tr ng-repeat="item in taches | filter : userConect.name">
				<td>{{item.idTache}}</td>
				<td>{{item.event.idEvenement}}</td>
				<td>{{item.description}}</td>	
				<td>
			<div class="progress progress-striped active">
										<div class="progress-bar progress-bar-danger" ng-show="item.etatAavancement<=20"
											role="progressbar"  aria-valuenow="{{item.etatAavancement}}" aria-valuemin="0"
											aria-valuemax="100" style="width: {{item.etatAavancement}}%!important">
											<span class="sr-only"  ng-show="item.etatAavancement<=20">{{item.etatAavancement}} %</span>
										</div>
										<div class="progress-bar progress-bar-warning" ng-show="item.etatAavancement <= 60 &&  20 < item.etatAavancement"
											role="progressbar" aria-valuenow="{{item.etatAavancement}}" aria-valuemin="0"
											aria-valuemax="100" style="width: {{item.etatAavancement}}%!important">
											<span class="sr-only"  ng-show=" 20 < item.etatAavancement <= 60">{{item.etatAavancement}} %</span>
										</div>
										<div class="progress-bar progress-bar-success" ng-show="item.etatAavancement>60"
											role="progressbar" aria-valuenow="{{item.etatAavancement}}" aria-valuemin="0"
											aria-valuemax="100" style="width: {{item.etatAavancement}}%!important">
											<span class="sr-only"  ng-show="item.etatAavancement > 60">{{item.etatAavancement}} %</span>
										</div>
									</div>
				
				</td>
				<td>{{item.operateur.name}}</td>
				<td><button type="submit" class="btn btn-info btn-sm" ui-sref="detailTache({id:item.idBd})" title="">
						<i class="fa fa-search  " aria-hidden="true"></i> 
					</button></td>
			</tr>
		</tbody>
		
		
		<tbody ng-show="userConect.role.role!='CHEFP' && userConect.role.role!='COLLAB'">
			<tr ng-repeat="item in taches">
				<td>{{item.idTache}}</td>
				<td>{{item.event.idEvenement}}</td>
				<td>{{item.description}}</td>
				<td>

					<div class="progress progress-striped active">
						<div class="progress-bar progress-bar-danger"
							ng-show="item.etatAavancement<=20" role="progressbar"
							aria-valuenow="{{item.etatAavancement}}" aria-valuemin="0"
							aria-valuemax="100" style="width: {{item.etatAavancement}}%!important">
							<span class="sr-only" ng-show="item.etatAavancement<=20">{{item.etatAavancement}}
								%</span>
						</div>
						<div class="progress-bar progress-bar-warning"
							ng-show="item.etatAavancement <= 60 &&  20 < item.etatAavancement"
							role="progressbar" aria-valuenow="{{item.etatAavancement}}"
							aria-valuemin="0" aria-valuemax="100"
							style="width: {{item.etatAavancement}}%!important">
							<span class="sr-only" ng-show=" 20 < item.etatAavancement <= 60">{{item.etatAavancement}}
								%</span>
						</div>
						<div class="progress-bar progress-bar-success"
							ng-show="item.etatAavancement>60" role="progressbar"
							aria-valuenow="{{item.etatAavancement}}" aria-valuemin="0"
							aria-valuemax="100" style="width: {{item.etatAavancement}}%!important">
							<span class="sr-only" ng-show="item.etatAavancement > 60">{{item.etatAavancement}}
								%</span>
						</div>
					</div>

				</td>

				<td>{{item.operateur.name}}</td>
				<td><button type="submit" class="btn btn-info btn-sm" ui-sref="detailTache({id:item.idBd})">
						<i class="fa fa-search  " aria-hidden="true"></i> 
					</button>
					<button type="submit" class="btn btn-primary btn-sm"
						ui-sref="formTicketProjet({id:item.idBd+'/Tache'})">
						<i class="fa fa-search  " aria-hidden="true"></i>
					</button></td>
			</tr>
		</tbody>
	</table>


</div>