<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Tache {{tache.idTache}}</h1>
		</div>
		<div class="col-lg-2" ng-show="userConect.role.role !='CLIENT'">
		<button type="submit" class="btn btn-primary btn-block"
			ng-show="flagModif" ng-click="activerModification()">
			<i class="fa" aria-hidden="true"></i> Modifier
		</button>
	</div>
	<div class="col-lg-2">
		<button type="submit" class="btn btn-success btn-block"
			ng-show="!flagModif" ng-click="saveTache()">
			<i class="fa" aria-hidden="true"></i> Valider
		</button>
	</div>
	<div class="col-lg-2">

		<button type="submit"   class="btn btn btn-danger btn-block"
			ng-show="!flagModif && (userConect.role.role=='ADMIN' || userConect.role.role=='CHEFP' )" ng-click="deleteProjet(projet.idBd)">
			<i class="fa" aria-hidden="true"></i> Supprimer
		</button>
	</div>
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-11">


			<!-- /.panel-body -->
			<div class="panel panel-default">
				<div class="panel-heading">Information tache</div>
				<div class="panel-body">
					<div class="row">
 

						<div class="col-lg-6">
							<div class="form-group">
								<label>Intervenant</label> <select ng-disabled="flagModif" ng-change="selectOperateur()" style="width: 100%" class=" form-control"
									ng-model="tache.operateur.id" >
									<option  ng-repeat="x in users" ng-value="x.id" ng-selected="tache.operateur.id === x.id">{{x.name}}</option>
								</select>
							</div>
						</div>

						<div class="col-lg-6">
							<div class="form-group">
								<label>Evenement</label> 
								<input class="form-control" ng-disabled="true"
									ng-model="tache.event.idEvent" placeholder="evenement "
									type="text" />
							</div>
						</div>
						
						<div class="col-lg-6">
							<div class="form-group">
								<label>Etat</label> <select ng-disabled="flagModif" style="width: 100%" class=" form-control"
									ng-model="tache.statut.id" >
									<option selected="true" ng-value="tache.statut.id">{{tache.statut.statut}}</option>
									<option ng-repeat="x in statuts" ng-value="x.id">{{x.statut}}</option>
								</select>
							</div>
						</div>
							<div class="col-md-12">
							<div class="form-group">
								<label>Commentaire</label>
								<textarea class="form-control" ng-disabled="flagModif"  rows="5" id="comment"
									ng-model="tache.commentaire"
									placeholder="Commentaire"></textarea>
							</div>
						</div>

						<div class="col-lg-6">
							<div class="form-group">
								<label>Description</label> <input class="form-control" ng-disabled="flagModif"
									ng-model="tache.description" placeholder="description "
									type="text" />
							</div>
						</div>

<div class="col-lg-6">
							<div class="form-group">
								<label>Progression</label> <input class="form-control" ng-disabled="flagModif"
									ng-model="tache.etatAavancement" placeholder="Progression " max="100" min="0"
									type="number" />
							</div>
						</div>


						<div class="col-lg-6" ng-show="tache.operateur.ingenieur">
							<div class="form-group">
								<label>Hj ing</label> <input class="form-control" ng-disabled="true"
									ng-model="tache.hjIng" placeholder="nombre" type="number"
									ng-change="nombreHIng()" min=0 /> <span ng-show="maxIngD"
									style="color: red">max heures ingenieur pour cet
									evenement est de {{tache.event.delaiHjIng}}</span> <span
									ng-show="maxIngD && tache.event.delaiHjIngCumul"
									style="color: red">dont {{tache.event.delaiHjIngCumul}}
									deja affecte</span>
							</div>
						</div>

						<div class="col-lg-6" ng-show="!tache.operateur.ingenieur">
							<div class="form-group">
								<label>Hj tech</label> <input class="form-control" ng-disabled="true"
									ng-change="nombreHTech()" min=0 ng-model="tache.hjTech"
									placeholder="nombre" type="number" /> <span ng-show="maxTechD"
									style="color: red">max heures ingenieur pour cet
									evenement est de {{tache.event.delaiHjTech}}</span><span
									ng-show="maxTechD && tache.event.delaiHjTechCumul"
									style="color: red"> dont
									{{tache.event.delaiHjTechCumul}} deja affecte</span>
							</div>
						</div>
						<div class="col-lg-6" ng-show="tache.tacheLie.idBd">
							<div class="form-group">

								<label>Liaison tache</label> <select   ng-show="!flagModif"
									ng-model="tache.tacheLie.idBd" style="width: 100%"
									class=" form-control">
									<option ng-repeat="x in tachesLies |  filter: { idTache: '!'+tachesToFilter.idTache }" ng-value="x.idBd">{{x.idTache}}</option>
								</select> 
								<input class="form-control" ng-show="flagModif"
									ng-disabled="true" ng-model="tache.tacheLie.idTache"
									class="form-control" />

							</div>
						</div>
						<div class="col-lg-2" ng-show="tache.tacheLie.idBd">



							<br><br> <input type="checkbox" ng-model="tache.avantTache" ng-disabled="flagModif"
								ng-show="tache.tacheLie.idBd" 
								name="optionsRadios" id="optionsRadios3" value="true"><label
								ng-show="tache.tacheLie.idBd">Avant</label> <input type="checkbox" ng-disabled="flagModif"
								ng-model="tache.apresTache" ng-show="tache.tacheLie.idBd"
								ng-disabled="tache.apresTache" name="optionsRadios"
								id="optionsRadios3" value="true"> <label
								ng-show="tache.tacheLie.idBd">Apres</label>

						</div>



					</div>


				</div>
			</div>
		</div>

	</div>



	<!-- /.panel -->
</div>
<!-- /.col-lg-12 -->
</div>