<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Nouveau Utilisateur</h1>
		</div>

	</div>
	<form ng-submit="form.$valid  &&  saveuser()" name="form">
		<div class="panel panel-default">
			<div class="panel-heading">Information Utilisateur</div>

			<div class="panel-body">
				<div class="row">
				<div class="col-md-2">
					<label>Nom : </label>
				</div>
				<div class="col-md-2">
					<input class="form-control" ng-model="user.name" required
						placeholder="" type="text" />
				</div>
				<div class="col-md-2">
					<label>Pr&eacute;nom : </label>
				</div>
				<div class="col-md-2">
					<input class="form-control" ng-model="user.lastName" required
						placeholder="" type="text" />
				</div>
				<div class="col-md-2">
					<label>Email : </label>
				</div>
				<div class="col-md-2">
					<input class="form-control" ng-model="user.email" required
						placeholder="" type="email" />
				</div>
				</div>
				<br>
				<div class="row">
				
				<div class="col-md-2">
					<label>Mot de passe : </label>
				</div>
				<div class="col-md-2">
					<input class="form-control" ng-model="user.password" required
						placeholder="" type="password" />
				</div>
				<div class="col-md-2">
					<label>Identifiant  : </label>
				</div>
				<div class="col-md-2">
					<input class="form-control" ng-model="user.username" required
						placeholder="" type="text" />
				</div>
				<div class="col-md-2">
					<label>Role  : </label>
				</div>
				<div class="col-md-2">
                          <select  ng-model="selected" required
								class="form-control">
								<option ng-selected="true" ng-value="">Selectionner un
									projet</option>
								<option ng-repeat="x in roles" ng-value="x.id">{{x.role}}</option>
							</select>
				</div>
				</div>
				<button type="submit" class="btn btn-success">Enregister</button>
			</div>
	</form>

</div>