<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Phase {{phase.idPhase}}</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="col-lg-2">
		<button type="submit" class="btn btn-primary btn-block" ng-show="flagModif  && userConect.role.role!='COLLAB'"
		ng-click="activerModification()">
			<i class="fa" aria-hidden="true"></i> Modifier
		</button>
	</div>
	<div class="col-lg-2">
		<button type="submit" class="btn btn-success btn-block"
			ng-show="!flagModif" ng-click="updatePhase()">
			<i class="fa" aria-hidden="true"></i> Valider
		</button>
	</div>
	<div class="col-lg-2">

		<button type="submit"   class="btn btn btn-danger btn-block"
			ng-show="!flagModif && userConect.role.role=='ADMIN'" ng-click="deleteProjet(projet.idBd)">
			<i class="fa" aria-hidden="true"></i> Supprimer
		</button>
	</div>
	
	<br><br>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-11">


			<div class="panel panel-default">
				<div class="panel-heading">Information phase</div>
				<div class="panel-body">
					<div class="row">


						<div class="col-lg-6">

							<label>Id phase</label>
							
							<input class="form-control"
									ng-model="phase.idPhase" placeholder="Nom"
									type="text" ng-disabled="true"/>
						</div>


						<div class="col-lg-6">
							<div class="form-group">
							<label>Date debut</label> <input class="form-control" ng-disabled="flagModif"
								ng-disabled="flagModif" ng-model="phase.dateDebut" format-date
								placeholder="date debut" type="date" ng-change="change()"
								ng-style="isTrue && {'border-color':'red'} || {'background-color': 'none'}" />
							<span ng-show="isTrue" style="color: red">Date debut
								Invalid</span>

						</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
							<label>Date fin</label> <input class="form-control" 
								ng-disabled="flagModif" ng-model="phase.dateFin" format-date
								placeholder="date fin" type="date" ng-change="change()"
								ng-style="isTrue && {'border-color':'red'} || {'background-color': 'none'}" />
							<span ng-show="isTrue" style="color: red">Date debut
								Invalid</span>

						</div>
						</div>
						<div class="col-lg-6">
								<div class="form-group">
									<label>Solde phase</label> <input class="form-control" ng-disabled="flagModif"
										ng-model="phase.dateSoldePhase" format-date
										placeholder="Informations additionnel" type="date" />
								</div>
							</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label>Honoraires</label> <input class="form-control" ng-disabled="flagModif"
									ng-model="phase.honoraires" placeholder="Nom" type="text" />
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
									<label>Phase</label> <select style="width: 100%" ui-select2 ng-change="createIdPhase()" ng-disabled="flagModif"
										ng-model="phase.phase">
										<option>PRE</option>
										<option>DCE</option>
										<option>EXE</option>
										<option>DIAG</option>
									</select>
								</div>
						</div>
						
						<div class="col-lg-6">
							<div class="form-group">
								<label>Statut</label> <select ng-disabled="flagModif" style="width: 100%" ui-select2
									ng-model="phase.statut.id" >
									<option selected="true" ng-value="phase.statut.id">{{phase.statut.statut}}</option>
									<option ng-repeat="x in statuts" ng-value="x.id">{{x.statut}}</option>
								</select>
							</div>
						</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label>Lot a traiter </label> <br /> <label
										class="checkbox-inline"> <input ng-disabled="flagModif"  ng-model="phase.archi" type="checkbox">A
									</label> <label class="checkbox-inline"> <input ng-disabled="flagModif"  ng-model="phase.grosOeuvre"  type="checkbox">CO
									</label> <label class="checkbox-inline"> <input  ng-disabled="flagModif" ng-model="phase.metal"  type="checkbox">CM
									</label> <label class="checkbox-inline"> <input ng-disabled="flagModif" ng-model="phase.bois"  type="checkbox">CB
									</label> <label class="checkbox-inline"> <input ng-disabled="flagModif" ng-model="phase.voirie" type="checkbox">VRD
									</label>
								</div>
							</div>
							<div class="col-lg-12">
								<label>Documents</label>
								<div class="table-responsive">
									<table class="table table-striped table-bordered table-hover">
										<tr>
											<th>Titre document</th>
											<th>Etat</th>
											<th>Action</th>

										</tr>
										<tbody ng-repeat="doc in phase.docs">
											<tr>
												<td>{{doc.typeDoc}}</td>
												<td><select ng-model="doc.etatDoc" style="width: 100%" ui-select2>
														<option>choisir un element</option>
														<option>Recu</option>
														<option>NRecu imp</option>
														<option>NRecu non imp</option>
												</select></td>
												<td><input type="button" class="btn btn-danger" ng-disabled="flagModif" ng-click="Remove($index)"
													value="Remove" /></td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td><input type="text" class="form-control"
													ng-model="typeDoc" /></td>
												<td><select  ng-model="etatDoc" style="width: 100%" ui-select2>
														<option>choisir un element</option>
														<option>Recu</option>
														<option>NRecu imp</option>
														<option>NRecu non imp</option>
												</select></td>
												<td><input class="btn" type="button" ng-click="Add()" ng-disabled="flagModif" value="Add" /></td>
											</tr>
										</tfoot>
									</table>
								</div>





							</div>
					</div>
				</div>


			</div>

		</div>
	</div>
</div>
