
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Liste phases</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>

	<br /> <br />
	<!-- /.row -->
	<div class="row">
	<div class="col-md-1">
			<label>Projet :</label>
		</div>
		<div class="col-md-2">
			 <select ng-model="idProjet"
				style="width: 100%" ui-select2>
				<option ng-value=""></option>
				<option ng-repeat="x in projets" ng-value="x.idProjet">{{x.idProjet}}
				</option>
			</select>
		</div>
		<div class="col-md-1">
			<label>Statut :</label>
		</div>
		<div class="col-md-2">
			<select ng-model="statut"
				style="width: 100%" ui-select2>
				<option ng-value=""></option>
				<option ng-repeat="x in statutRecherche" ng-value="x.statut">{{x.statut}}
				</option>
			</select>

		</div>
		<div class="col-md-2">
			<label>Chef projet :</label>
		</div>
		<div class="col-md-2">
			<select ng-model="name"
				style="width: 100%" ui-select2>
				<option ng-value=""></option>
				<option ng-repeat="x in usersRecherche" ng-value="x.name">{{x.name}}
				</option>
			</select> </br>
		</div>
	</div>
	<br /> <br />
	<div>
		<table class="table table-striped table-bordered"id="example" 
				style="text-align: center;" cellspacing="0"">
			<thead>
				<tr>
					<th style="text-align: center;">Id projet</th>
					<th style="text-align: center;">chef Projet</th>
					<th style="text-align: center;">Phase</th>
					<th style="text-align: center;">statut</th>
					<th style="text-align: center;">Date debut</th>
					<th style="text-align: center;">Date fin</th>
					<th style="text-align: center;">Date solde</th>
					<th style="text-align: center;width: 10%">Options</th>


				</tr>
			</thead>

			<tbody>
				<tr
					ng-repeat="item in phases| filter:idProjet | filter:name | filter:statut">
					<td ng-show="false">{{item.idphas}}</td>
					<td>{{item.projet.idProjet}}</td>
					<td>{{item.chefProjet.name}}</td>
					<td>{{item.phase}}</td>
					<td>{{item.statut.statut}}</td>
					<td>{{item.dateDebut| date:'yyyy-MM-dd'}}</td>
					<td>{{item.dateFin | date:'yyyy-MM-dd'}}</td>
					<td>{{item.dateSoldePhase | date:'yyyy-MM-dd'}}</td>

					<td><button type="submit"  title="Consulter"  class="btn btn-primary btn-sm"
							ui-sref="detailPhase({id:item.idphas})"> 
							<i class="fa fa-search  " aria-hidden="true"></i> 
						</button></td>
						
				</tr>
			</tbody>
		</table>
	</div>

</div>
