<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Nouvel Evenement</h1>
		</div>

	</div>

</div>



<form ng-submit="form.$valid && saveTache()" name="form">
	<div class="panel panel-default">
		<div class="panel-heading">Information Evenement</div>

		<div class="panel-body">
			<div class="row">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-1">
							<label>Projet :</label>
						</div>
						<div class="col-md-3">
							<select ng-change="selectAllPhase()" ng-model="selected" required
								style="width: 100%" class=" form-control">
								<option value="" disabled="" selected="">Selectionner
									un projet</option>
								<option ng-repeat="x in projets" ng-value="x.idbd">{{x.idProjet}}</option>
							</select>
						</div>
						<div class="col-md-1">
							<label>Phase :</label>
						</div>
						<div class="col-md-4">
							<select ng-change="selectPhase()" ng-model="selectedPhase"
								required style="width: 100%" class=" form-control">
								<option ng-selected="true" ng-value="">Selectionner une
									phase</option>
								<option ng-repeat="x in phases " ng-value="x.idphas"
									>{{x.idPhase}}</option>
							</select>
						</div>
<!-- 						<div class="col-md-1"> -->
<!-- 							<label>Evenement:</label> -->
<!-- 						</div> -->
						<div class="col-md-3">
							<input class="form-control" ng-model="tache.event.idEvent"
								ng-disabled="true" required name="ing"
								placeholder="N Evenement " type="text" />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="col-lg-5">
						<div class="form-group">
							<label>Lot &agrave; traiter </label> <br /> <label
								class="checkbox-inline"> <input ng-model="phase.archi"
								type="checkbox">A
							</label> <label class="checkbox-inline"> <input
								ng-model="phase.grosOeuvre" type="checkbox">CO
							</label> <label class="checkbox-inline"> <input
								ng-model="phase.metal" type="checkbox">CM
							</label> <label class="checkbox-inline"> <input
								ng-model="phase.bois" type="checkbox">CB
							</label> <label class="checkbox-inline"> <input
								ng-model="phase.voirie" type="checkbox">VRD
							</label>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="form-group">
							<label>Docs &agrave; transmettre </label> <br /> <label
								class="checkbox-inline"> <input
								ng-model="tache.event.plans" type="checkbox">Plans
							</label> <label class="checkbox-inline"> <input
								ng-model="tache.event.noteCalcul" type="checkbox">Note de
								calculs
							</label> <label class="checkbox-inline"> <input
								ng-model="tache.event.quantitif" type="checkbox">Quantitatifs
							</label> <label class="checkbox-inline"> <input
								ng-model="tache.event.modele3d" type="checkbox">Mod&egrave;le
								3D
							</label> <label class="checkbox-inline"> <input
								ng-model="tache.event.rapport" type="checkbox">Rapport
							</label>
						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-md-1">
					<label>Etat : </label>
				</div>
				<div class="col-md-4">


					<select required="required" style="width: 100%" ui-select2
						ng-model="tache.event.etat">
						<option>choisir un &eacute;tat</option>
						<option>Non trait&eacute;</option>
						<option>En cours</option>
						<option>V&eacute;rifi&eacute;</option>
						<option>Termin&eacute;</option>
						<option>Arr&ecirc;t</option>
						<option>Abandon</option>
					</select>
				</div>
				<div class="col-md-3">
					<label>Quantification d&eacute;lai : </label>
				</div>
				<div class="col-md-2">

					<input class="form-control" ng-model="tache.event.delaiHjIng"
						required name="ing" placeholder="JH Ing" type="text" />
				</div>
				<div class="col-md-2">

					<input class="form-control" ng-model="tache.event.delaiHjTech"
						required name="tech" placeholder="JH Tech" type="text" />
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-2">
					<label>Date D&eacute;but : </label>
				</div>
				<div class="col-md-2">
					<input class="form-control" ng-model="tache.event.dateDebut" min="{{dateMin | date:'yyyy-MM-dd'}}" max="{{dateMax | date:'yyyy-MM-dd'}}"
						ng-change="change2()"
						ng-style="isTrue && {'border-color':'red'} || {'background-color': 'none'}"
						placeholder="date debut" type="date" /> <span ng-show="isTrue"
						style="color: red">Date debut Invalid</span>

				</div>

				<div class="col-md-2">
					<label>Date Fin : </label>
				</div>
				<div class="col-md-2">
					<input class="form-control" ng-model="tache.event.dateFin" min="{{dateMin | date:'yyyy-MM-dd'}}" max="{{dateMax | date:'yyyy-MM-dd'}}"
						ng-change="change2()"
						ng-style="isTrue && {'border-color':'red'} || {'background-color': 'none'}"
						placeholder="date fin" type="date" /> <span ng-show="isTrue"
						style="color: red">Date fin Invalid</span>
				</div>
				<div class="col-md-2">
					<label>Date Ech&eacute;ance : </label>
				</div>
				<div class="col-md-2">
					<input class="form-control" ng-model="tache.event.echeance" required
						placeholder="date Ech&eacute;ance" type="date" />
				</div>

			</div>
			<br>
			<div class="row">
				<div class="col-md-2">
					<label>Priorit&eacute; : </label>
				</div>
				<div class="col-md-2">
					<input class="form-control" ng-model="tache.event.priorite" required
						placeholder="1 &agrave; 10 " type="text" />
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">Information Tache</div>

		<div class="panel-body">
			<div class="panel-body">
				<div class="row">


					<div class="col-lg-6">
						<div class="form-group">
							<label>Intervenant</label> <select ng-change="selectOperateur()"
								ng-model="tache.operateur.id" style="width: 100%" ui-select2>
								<option ng-repeat="x in users" ng-value="x.id">{{x.name}}</option>
							</select>
						</div>
					</div>


					<div class="col-lg-6">
						<div class="form-group">
							<label>Description</label> <input class="form-control"
								ng-model="tache.description" placeholder="description "
								type="text" />
						</div>
					</div>



					<div class="col-lg-6"
						ng-show="user.ingenieur && selectedUser && tache.event.delaiHjIng">
						<div class="form-group">
							<label>Hj ing</label> <input class="form-control"
								ng-model="tache.hjIng" placeholder="nombre" type="number"
								ng-change="nombreHIng()" min=0 /> <span ng-show="tache.hjIng > tache.event.delaiHjIng"
								style="color: red">max heures ingenieur depasse</span>
						</div>
					</div>

					<div class="col-lg-6"
						ng-show="!user.ingenieur && selectedUser && tache.event.delaiHjTech">
						<div class="form-group">
							<label>Hj tech</label> <input class="form-control"
								ng-change="nombreHTech()" min=0 ng-model="tache.hjTech"
								placeholder="nombre" type="text" /> <span ng-show="tache.hjTech > tache.event.delaiHjTech"
								style="color: red">max heures technicien depasse </span>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-group">

							<label>Liaison tache</label> <select
								ng-model="tache.tacheLie.idBd" style="width: 100%" ui-select2>
								<option ng-repeat="x in tachesLies" ng-value="x.idBd">{{x.idTache}}</option>
							</select>

						</div>
					</div>
					<div class="col-lg-2" ng-show="tache.tacheLie.idBd">

						<div class="radio">

							<label> <input type="radio" ng-model="tache.avantTache"
								name="optionsRadios" id="optionsRadios3" value="true">Avant
							</label>
						</div>
						<div class="radio">
							<label> <input type="radio" ng-model="tache.apresTache"
								name="optionsRadios" id="optionsRadios3" value="true">Apres
							</label>
						</div>
					</div>


					<input class="form-control" ng-model="tache.statut.id"
						type="hidden" />

				</div>


			</div>
		</div>
	</div>
	<button type="submit" class="btn btn-success">Enregister</button>
	<button type="button" class="btn btn-primary" ng-click="retour()">Retour</button>
		<input hidden="true" ng-model="evenement.delaiHjIngCumul" value="0">
	<input hidden="true" ng-model="evenement.delaiHjTechCumul" value="0">
	<input hidden="true" ng-model="evenement.nbTaches" value="1">
		<input hidden="true" ng-model="event.etatAvancement">
</form>