<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Nouvel Evenement</h1>
		</div>

	</div>


</div>
<form ng-submit="form.$valid && saveEvenement()" name="form">
	<div class="panel panel-default">
		<div class="panel-heading">Information Evenement</div>

		<div class="panel-body">
			<div class="row">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-1">
							<label>Projet :</label>
						</div>
						<div class="col-md-3">
							<select ng-change="selectAllPhase()" ng-model="selected" required
								class="form-control">
								<option ng-selected="true" ng-value="">Selectionner un
									projet</option>
								<option ng-repeat="x in projets" ng-value="x.idbd">{{x.nomProjet}}</option>
							</select>
						</div>
						<div class="col-md-1">
							<label>Phase :</label>
						</div>
						<div class="col-md-2">
							<select ng-change="selectPhase()" ng-model="selectedPhase"
								required class="form-control">
								<option ng-selected="true" ng-value="">Selectionner un
									phase</option>
								<option ng-repeat="x in phases" ng-value="x.idphas">{{x.phase}}</option>
							</select>
						</div>
						<div class="col-md-1">
							<label>Evenement:</label>
						</div>
						<div class="col-md-3">
							<input class="form-control" ng-model="evenement.idEvent"
								required name="ing" placeholder="N Evenement " type="text" />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="col-lg-5">
						<div class="form-group">
							<label>Lot &agrave; traiter </label> <br /> <label
								class="checkbox-inline"> <input ng-model="phase.archi"
								type="checkbox">A
							</label> <label class="checkbox-inline"> <input
								ng-model="phase.grosOeuvre" type="checkbox">CO
							</label> <label class="checkbox-inline"> <input
								ng-model="phase.metal" type="checkbox">CM
							</label> <label class="checkbox-inline"> <input
								ng-model="phase.bois" type="checkbox">CB
							</label> <label class="checkbox-inline"> <input
								ng-model="phase.voirie" type="checkbox">VRD
							</label>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="form-group">
							<label>Docs &agrave; transmettre </label> <br /> <label
								class="checkbox-inline"> <input
								ng-model="evenement.plans" type="checkbox">Plans
							</label> <label class="checkbox-inline"> <input
								ng-model="evenement.noteCalcul" type="checkbox">Note de
								calculs
							</label> <label class="checkbox-inline"> <input
								ng-model="evenement.quantitif" type="checkbox">Quantitatifs
							</label> <label class="checkbox-inline"> <input
								ng-model="evenement.modele3d" type="checkbox">Mod&egrave;le
								3D
							</label> <label class="checkbox-inline"> <input
								ng-model="evenement.rapport" type="checkbox">Rapport
							</label>
						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-md-1">
					<label>Etat : </label>
				</div>
				<div class="col-md-4">


					<select required="required" class="form-control"
						ng-model="evenement.etat">
						<option>choisir un &eacute;tat</option>
						<option>Non trait&eacute;</option>
						<option>En cours</option>
						<option>V&eacute;rifi&eacute;</option>
						<option>Termin&eacute;</option>
						<option>Arr&ecirc;t</option>
						<option>Abandon</option>
					</select>
				</div>
				<div class="col-md-3">
					<label>Quantification d&eacute;lai : </label>
				</div>
				<div class="col-md-2">

					<input class="form-control" ng-model="evenement.delaiHjIng"
						required name="ing" placeholder="JH Ing" type="text" />
				</div>
				<div class="col-md-2">

					<input class="form-control" ng-model="evenement.delaiHjTech"
						required name="tech" placeholder="JH Tech" type="text" />
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-2">
					<label>Date D&eacute;but : </label>
				</div>
				<div class="col-md-2">
					<input class="form-control" ng-model="evenement.dateDebut" required
						placeholder="date debut" type="date" />
				</div>

				<div class="col-md-2">
					<label>Date Fin : </label>
				</div>
				<div class="col-md-2">
					<input class="form-control" ng-model="evenement.dateFin" required
						placeholder="date fin" type="date" />
				</div>
				<div class="col-md-2">
					<label>Date Ech&eacute;ance : </label>
				</div>
				<div class="col-md-2">
					<input class="form-control" ng-model="evenement.echeance" required
						placeholder="date Ech&eacute;ance" type="date" />
				</div>

			</div>
			<br>
			<div class="row">
				<div class="col-md-2">
					<label>Priorit&eacute; : </label>
				</div>
				<div class="col-md-2">
					<input class="form-control" ng-model="evenement.priorite" required
						placeholder="1 &agrave; 10 " type="text" />
				</div>
			</div>
		</div>

	</div>
	<button type="submit" class="btn btn-success">Enregister</button>
	<button type="button" class="btn btn-primary">Retour</button>
	</div>
</form>