

<div class="container-fluid" ng-init="init()">
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-header">Liste Evenements</h1>
		</div>
		<!-- /.col-md-12 -->
	</div>
	<div class="row">

	<div class="col-md-3" ng-show="userConect.role.role!='COLLAB' && userConect.role.role!='CLIENT'">
		<button type="nouveau" class="btn btn-primary btn-block" style=" width: 100%;"
			ui-sref="nouveauEvent">



			<i class="fa fa-pencil-square" aria-hidden="true"></i> Ajouter
				evenement et tache
		</button>
	</div>
	
<div class="col-md-1" >
</div>
<!-- 	<div class="col-md-3" ng-show="userConect.role.role!='COLLAB' && userConect.role.role!='CLIENT'" > -->
<!-- 		<button type="nouveau" class="btn btn-primary btn-block" style=" width: 100%;" ng-show="false" -->
<!-- 			ui-sref="EventTache"> -->


<!-- 				<i class="fa fa-pencil-square" aria-hidden="true"></i> Ajouter -->
<!-- 				evenement et tache -->
<!-- 			</button> -->
<!-- 		</div> -->
	</div>
	<br>
	<div class="row">
	<div class="col-md-1">
		<label>Projet :</label>
		</div>
		<div class="col-md-2">
			 <select
				ng-model="idProjetRecherche" ng-change="selectProjetRecherche()"
				style="width: 100%" class=" form-control">
				<option ng-value=""></option>
				<option ng-repeat="x in projetsRecherche" ng-value="x.idbd">{{x.idProjet}}
				</option>
			</select>

		</div>
		<div class="col-md-1">
		<label>Phase :</label> 
		</div>
		<div class="col-md-2">
			<select ng-model="idPhase"
				style="width: 100%" class=" form-control">
				<option ng-value=""></option>
				<option ng-repeat="x in phasesRecherhe" ng-value="x.idPhase">{{x.idPhase}}
				</option>
			</select> <br>
		</div>
	</div>
		<br>
		<div class="col-md-10">
	<table class="table table-bordered table-sm" width="80%" id="dataTable" style="text-align: center !important;"
		cellspacing="0">
		<thead>
			<tr>
				<th style="text-align: center !important;">Id phase</th>
				<th style="text-align: center !important;">Id</th>
				<th style="text-align: center !important;">Progression</th>
				<th style="text-align: center !important;">Phase</th>
				<th style="text-align: center !important;">dateDebut</th>
				<th style="text-align: center !important;">echeance</th>
				<th style="text-align: center !important;">dateFin</th>
				<th style="text-align: center !important;width: :10%">Options</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="item in events  ">
				<td>{{item.idPhase.idPhase}}</td>
				<td>{{item.idEvent}}</td>
				<td>
					<div class="progress progress-striped active">
						<div class="progress-bar progress-bar-danger"
							ng-show="item.etatAvancement<=20" role="progressbar"
							aria-valuenow="{{item.etatAvancement}}" aria-valuemin="0"
							aria-valuemax="100" style="width: {{item.etatAvancement}}%!important">
							<span class="sr-only" ng-show="item.etatAvancement<=20">{{item.etatAvancement}}
								%</span>
						</div>
						<div class="progress-bar progress-bar-warning"
							ng-show="item.etatAvancement <= 60 &&  20 < item.etatAvancement"
							role="progressbar" aria-valuenow="{{item.etatAvancement}}"
							aria-valuemin="0" aria-valuemax="100"
							style="width: {{item.etatAvancement}}%!important">
							<span class="sr-only" ng-show=" 20 < item.etatAvancement <= 60">{{item.etatAvancement}}
								%</span>
						</div>
						<div class="progress-bar progress-bar-success"
							ng-show="item.etatAvancement>60" role="progressbar"
							aria-valuenow="{{item.etatAvancement}}" aria-valuemin="0"
							aria-valuemax="100" style="width: {{item.etatAvancement}}%!important">
							<span class="sr-only" ng-show="item.etatAvancement > 60">{{item.etatAvancement}}
								%</span>
						</div>
					</div>

				</td>

				<td>{{item.idPhase.phase}}</td>
				<td>{{item.dateDebut}}</td>
				<td>{{item.echeance}}</td>
				<td>{{item.dateFin}}</td>
				<td>
							<button type="submit" class="btn btn-info btn-sm"
								title="Consulter" 
								ui-sref="detailEvent({id:item.idEvenement})">
								<i class="fa fa-search" aria-hidden="true"></i>
							</button>
							<button type="submit" class="btn btn-primary btn-sm"
								title="Ajout Ticket" 
								ui-sref="formEventProjet({id:item.idEvenement+'/Evenement'})">
								<i class="fa fa-plus" aria-hidden="true"></i>
							</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div>