

<div class="container-fluid" ng-init="init()">
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-header">Liste Evenements</h1>
		</div>
		<!-- /.col-md-12 -->
	</div>
	<div class="row">


	
<div class="col-md-1" >
</div>
<!-- 	<div class="col-md-3" ng-show="userConect.role.role!='COLLAB' && userConect.role.role!='CLIENT'" > -->
<!-- 		<button type="nouveau" class="btn btn-primary btn-block" style=" width: 100%;" ng-show="false" -->
<!-- 			ui-sref="EventTache"> -->


<!-- 				<i class="fa fa-pencil-square" aria-hidden="true"></i> Ajouter -->
<!-- 				evenement et tache -->
<!-- 			</button> -->
<!-- 		</div> -->
	</div>
	<br>
	<div class="row">
	<div class="col-md-1">
			<label>Projet :</label>
		</div>
	<div class="col-md-2">
			<select ng-model="projet" class=" form-control">
				<option ng-value=""></option>
				<option ng-repeat="x in projets" ng-value="x">{{x}}
				</option>
			</select>
		</div>
		<div class="col-md-1">
			<label>Statut :</label>
		</div>
		<div class="col-md-2">
			<select ng-model="statut" class=" form-control">
				<option ng-value=""></option>
				<option ng-repeat="x in statutRecherche" ng-value="x.statut">{{x.statut}}
				</option>
			</select>

		</div>
		<div class="col-md-1" style="width: 10%;">
			<label>Chef projet :</label>
		</div>
		<div class="col-md-2">
			<select ng-model="name" class=" form-control">
				<option ng-value=""></option>
				<option ng-repeat="x in usersRecherche" ng-value="x.name">{{x.name}}
				</option>
			</select> </br>
		</div>
		
			<div class="col-md-2" ng-show="userConect.role.role!='COLLAB' && userConect.role.role!='CLIENT'">
		<button type="nouveau" class="btn btn-primary btn-block" style=" width: 100%;"
			ui-sref="nouveauEvent">



			<i class="fa fa-pencil-square" aria-hidden="true"></i> Ajouter
				evenement 
		</button>
	</div>
	</div>
		<br>
		<div class="col-md-12">
	<table class="table table-striped table-bordered"id="example" style="text-align: center !important;"
		cellspacing="0">
		<thead>
			<tr>
				<th style="text-align: center !important;">Id phase</th>
				<th style="text-align: center !important;">Id</th>
				<th style="text-align: center !important;">Progression</th>
				<th style="text-align: center !important;">Phase</th>
				<th style="text-align: center !important;">dateDebut</th>
				<th style="text-align: center !important;">echeance</th>
				<th ng-show="false" style="text-align: center !important;width: :10%">Options</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-style="{'background-color':item.ticketNonTraite ?  '#FA5858': 'none'}" ng-repeat="item in events  | filter:projet | filter:statut | filter:name" >
				<td><a  ui-sref="detailEvent({id:item.idEvenement})">{{item.idPhase.idPhase}}</a></td>
				<td>{{item.idEvent}}</td>
				<td>
					<div class="progress progress-striped active">
						<div class="progress-bar progress-bar-danger"
							ng-show="item.etatAvancement<=20" role="progressbar"
							aria-valuenow="{{item.etatAvancement}}" aria-valuemin="0"
							aria-valuemax="100" style="width: {{item.etatAvancement}}%!important">
							<span class="sr-only" ng-show="item.etatAvancement<=20">{{item.etatAvancement}}
								%</span>
						</div>
						<div class="progress-bar progress-bar-warning"
							ng-show="item.etatAvancement <= 60 &&  20 < item.etatAvancement"
							role="progressbar" aria-valuenow="{{item.etatAvancement}}"
							aria-valuemin="0" aria-valuemax="100"
							style="width: {{item.etatAvancement}}%!important">
							<span class="sr-only" ng-show=" 20 < item.etatAvancement <= 60">{{item.etatAvancement}}
								%</span>
						</div>
						<div class="progress-bar progress-bar-success"
							ng-show="item.etatAvancement>60" role="progressbar"
							aria-valuenow="{{item.etatAvancement}}" aria-valuemin="0"
							aria-valuemax="100" style="width: {{item.etatAvancement}}%!important">
							<span class="sr-only" ng-show="item.etatAvancement > 60">{{item.etatAvancement}}
								%</span>
						</div>
						
					</div>

				</td>

				<td>{{item.idPhase.phase}}</td>
				<td>{{item.dateDebut}}</td>
				<td>{{item.echeance}}</td>
				
				<td ng-show="false">
						
							<button type="submit" class="btn btn-primary btn-sm"
								title="Ajout Ticket" 
								ui-sref="formEventProjet({id:item.idEvenement+'/Evenement'})">
								<i class="fa fa-plus" aria-hidden="true"></i>
							</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div>

