<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Evenement {{evenement.idEvent}}</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="col-lg-2" ng-show="userConect.role.role!='COLLAB' && userConect.role.role!='CLIENT'">
		<button type="submit" class="btn btn-primary btn-block"
			ng-show="flagModif" ng-click="activerModification()">
			<i class="fa" aria-hidden="true"></i> Modifier
		</button>
	</div>
	<div class="col-lg-2">
		<button type="button" class="btn btn-primary btn-block" ng-click="retour()">Retour</button>
	</div>
	
	<div class="col-lg-2" ng-show="userConect.role.role!='COLLAB' && userConect.role.role!='CLIENT'">
		<button type="submit" class="btn btn-success btn-block"
			ng-show="!flagModif" ng-click="saveEvenement()">
			<i class="fa" aria-hidden="true"></i> Valider
		</button>
	</div>
	<div class="col-lg-2" ng-show="!flagModif && (userConect.role.role=='ADMIN' ||userConect.role.role=='CHEFP') ">

		<button type="submit"   class="btn btn btn-danger btn-block"
			 ng-click="deleteProjet(projet.idBd)">
			<i class="fa" aria-hidden="true"></i> Supprimer
		</button>
	</div>
	
	<br><br>
	</div>


</div>
<form name="myForm">
	<div class="panel panel-default">
		<div class="panel-heading">Information Evenement</div>

		<div class="panel-body">
			<div class="row">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-1">
							<label>Projet :</label>
						</div>
						<div class="col-md-3">
							<input ng-model="evenement.idPhase.projet.nomProjet" class="form-control"
								ng-disabled="true" type="text" />

						</div>
						<div class="col-md-1">
							<label>Phase :</label>
						</div>
						<div class="col-md-2">
							<input ng-model="evenement.idPhase.phase" class="form-control"
								ng-disabled="true" type="text" />
						</div>
						<div class="col-md-1">
							<label>Evenement:</label>
						</div>
						<div class="col-md-3">
							<input class="form-control" ng-model="evenement.idEvent" ng-disabled="true"
								required name="ing" placeholder="N Evenement " type="text" />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="col-lg-5">
						<div class="form-group">
							<label>Lot &agrave; traiter </label> <br /> <label
								class="checkbox-inline"> <input ng-disabled="flagModif"
								ng-model="evenement.idPhase.archi" type="checkbox">A
							</label> <label class="checkbox-inline"> <input ng-disabled="flagModif"
								ng-model="evenement.idPhase.grosOeuvre" type="checkbox">CO
							</label> <label class="checkbox-inline"> <input ng-disabled="flagModif"
								ng-model="evenement.idPhase.metal" type="checkbox">CM
							</label> <label class="checkbox-inline"> <input ng-disabled="flagModif"
								ng-model="evenement.idPhase.bois" type="checkbox">CB
							</label> <label class="checkbox-inline"> <input ng-disabled="flagModif"
								ng-model="evenement.idPhase.voirie" type="checkbox">VRD
							</label>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="form-group">
							<label>Docs &agrave; transmettre </label> <br /> <label
								class="checkbox-inline"> <input
								ng-model="evenement.plans" type="checkbox">Plans
							</label> <label class="checkbox-inline"> <input ng-disabled="flagModif"
								ng-model="evenement.noteCalcul" type="checkbox">Note de
								calculs
							</label> <label class="checkbox-inline"> <input ng-disabled="flagModif"
								ng-model="evenement.quantitif" type="checkbox">Quantitatifs
							</label> <label class="checkbox-inline"> <input ng-disabled="flagModif"
								ng-model="evenement.modele3d" type="checkbox">Mod&egrave;le
								3D
							</label> <label class="checkbox-inline"> <input ng-disabled="flagModif"
								ng-model="evenement.rapport" type="checkbox">Rapport
							</label>
						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-md-1">
					<label>Etat : </label>
				</div>
				<div class="col-md-4">


					<select class="form-control" ng-disabled="flagModif" ng-model="evenement.etat">
						<option>choisir un &eacute;tat</option>
						<option>Non trait&eacute;</option>
						<option>En cours</option>
						<option>V&eacute;rifi&eacute;</option>
						<option>Termin&eacute;</option>
						<option>Arr&ecirc;t</option>
						<option>Abandon</option>
					</select>
				</div>
				<div class="col-md-3">
					<label>Quantification d&eacute;lai : </label>
				</div>
				<div class="col-md-2">

					<input class="form-control" ng-disabled="flagModif" ng-model="evenement.delaiHjIng"
						placeholder="JH Ing" type="text" />
				</div>
				<div class="col-md-2">

					<input class="form-control" ng-disabled="flagModif" ng-model="evenement.delaiHjTech"
						placeholder="JH Tech" type="text" />
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-2">
					<label>Date D&eacute;but : </label>
				</div>
				<div class="col-md-2">
					<input class="form-control"  ng-disabled="flagModif" ng-model="evenement.dateDebut"
						format-date placeholder="date debut" type="date" />
				</div>

				<div class="col-md-2">
					<label>Date Fin : </label>
				</div>
				<div class="col-md-2">
					<input class="form-control"  ng-disabled="flagModif" ng-model="evenement.dateFin"
						format-date placeholder="date fin" type="date" />
				</div>
				<div class="col-md-2">
					<label>Date Ech&eacute;ance : </label>
				</div>
				<div class="col-md-2">
					<input class="form-control" ng-disabled="flagModif" ng-model="evenement.echeance"
						format-date placeholder="date Ech&eacute;ance" type="date" />
				</div>

			</div>
			<br>
			<div class="row">
				<div class="col-md-2">
					<label>Priorit&eacute; : </label>
				</div>
				<div class="col-md-2">
					<input class="form-control"  ng-disabled="flagModif" ng-model="evenement.priorite"
						placeholder="1 &agrave; 10 " type="text" />
				</div>
			</div>
		</div>

	</div>
	

</form>